<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  	<servlet>
         <servlet-name>LoginServ</servlet-name>
       <servlet-class>titan.servlet.LoginServ</servlet-class>
     </servlet> 
     <servlet>
         <servlet-name>AccountServ</servlet-name>
       <servlet-class>titan.servlet.AccountServ</servlet-class>
     </servlet>
  <servlet>
    <servlet-name>SaveServ</servlet-name>
    <servlet-class>titan.servlet.SaveServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WithdrawServ</servlet-name>
    <servlet-class>titan.servlet.WithdrawServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CloseServ</servlet-name>
    <servlet-class>titan.servlet.CloseServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CpwdServ</servlet-name>
    <servlet-class>titan.servlet.CpwdServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TransferServ</servlet-name>
    <servlet-class>titan.servlet.TransferServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckServ</servlet-name>
    <servlet-class>titan.servlet.CheckServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckLogServ</servlet-name>
    <servlet-class>titan.servlet.CheckLogServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckReportServ</servlet-name>
    <servlet-class>titan.servlet.CheckReportServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckPersonalReportServ</servlet-name>
    <servlet-class>titan.servlet.CheckPersonalReportServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckDeptReportServ</servlet-name>
    <servlet-class>titan.servlet.CheckDeptReportServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckBankReportServ</servlet-name>
    <servlet-class>titan.servlet.CheckBankReportServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeServ</servlet-name>
    <servlet-class>titan.servlet.EmployeeServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateSuperServ</servlet-name>
    <servlet-class>titan.servlet.CreateSuperServ</servlet-class>
  </servlet>








     <servlet-mapping>
       <servlet-name>LoginServ</servlet-name>
       <url-pattern>/LoginServ</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
       <servlet-name>AccountServ</servlet-name>
       <url-pattern>/AccountServ</url-pattern>
     </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveServ</servlet-name>
    <url-pattern>/SaveServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WithdrawServ</servlet-name>
    <url-pattern>/WithdrawServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CloseServ</servlet-name>
    <url-pattern>/CloseServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CpwdServ</servlet-name>
    <url-pattern>/CpwdServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransferServ</servlet-name>
    <url-pattern>/TransferServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckServ</servlet-name>
    <url-pattern>/CheckServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckLogServ</servlet-name>
    <url-pattern>/CheckLogServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckReportServ</servlet-name>
    <url-pattern>/CheckReportServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckPersonalReportServ</servlet-name>
    <url-pattern>/CheckPersonalReportServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckDeptReportServ</servlet-name>
    <url-pattern>/CheckDeptReportServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckBankReportServ</servlet-name>
    <url-pattern>/CheckBankReportServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeServ</servlet-name>
    <url-pattern>/EmployeeServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateSuperServ</servlet-name>
    <url-pattern>/CreateSuperServ</url-pattern>
  </servlet-mapping>
  
   <filter>
     <filter-name>SecurityFilter</filter-name>
     <filter-class>titan.filter.SecurityFilter</filter-class>
 </filter>
 
 <filter-mapping>
     <filter-name>SecurityFilter</filter-name>
     <url-pattern>/header.jsp</url-pattern>
     <url-pattern>/homepage.jsp</url-pattern>
     <url-pattern>/save.jsp</url-pattern>
     <url-pattern>/withdraw.jsp</url-pattern>
     <url-pattern>/transfer.jsp</url-pattern>
     <url-pattern>/check.jsp</url-pattern>
     <url-pattern>/close.jsp</url-pattern>
     <url-pattern>/cpwd.jsp</url-pattern>
     <url-pattern>/logcheck.jsp</url-pattern>
     <url-pattern>/deptlog.jsp</url-pattern>
     <url-pattern>/banklog.jsp</url-pattern>
     <url-pattern>/hr.jsp</url-pattern>
 </filter-mapping>

</web-app>
